*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

#colorDisplay {
  width: 100vw;
  height: 100vh;
}

#red {
  accent-color: red;
}

#green {
  accent-color: green;
}

#blue {
  accent-color: blue;
}
