*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #ffdaed;
  padding: 1.5rem;
}

#colorDisplay {
  width: 100vw;
  height: 77vh;
  background-color: #ff69b4;
}
